cloud:
  aws:
    s3:
      bucket: test
    region:
      static: test
      auto: false
    credentials:
      accessKey: testAccessKey
      secretKey: testSecretKey
    stack:
      auto: false
    cloudFront:
      domain: https://test.cloudfront

spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    show_sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        highlight_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
